# Análise de dados das meninas na computação


- Lucas Mafra - 
- Luíza Aguiar Hansen - 140026711

## 1. Data preprocessing

### Import libraries

In [57]:
from numpy import *
import csv
import sqlite3
import MySQLdb

ModuleNotFoundError: No module named 'MySQLdb'

### Read dataset into matrix of float values

In [53]:
def read_input(filename):
    data = []
    with open(filename) as file:
        data = [i.strip('\n').split(';')[:-1] for i in file.readlines()]
    return data

S1 = read_input('input/Dados_ingressantes_unb-2010_a_2016.csv')
print(S1[2])

['450908', '2010/1', 'VESTIBULAR', '10/06/1991', '18', 'M', 'Sistema Universal', 'Gestão de Saúde                                                                 ', 'Diurno', 'Campus UnB — Ceilândia / DF', '3.01', '159.70', '-', '-', '-', '-', '-']

In [54]:
def read_input(filename):
    data = []
    with open(filename) as file:
        data = [i.strip('\n').split('\t')[:-1] for i in file.readlines()]
    return data

S2 = read_input('input/novos_dados.csv')
print(len(S2), len(S2[0]))
print(S2[0])

281025 24
['ID Aluno', 'Sexo', 'Data de Nascimento', 'UF de Nascimento', 'Cotista', 'Tipo de Escola', 'Raça', 'Curso', 'Opção', 'Período de Ingresso na Unb', 'Período de ingresso na opção', 'Forma de Ingresso na UnB', 'Período de saída da opção', 'Forma de saída da opção', 'Ano e Semestre', 'Média do período', 'Mín. Créd. Formatura', 'Créditos cursados no total', 'Créditos integralizados no total', 'Créditos a integralizar no total', 'Créditos cursados no semestre(com aprovação)', 'Código da disciplina', 'Nome da disciplina', 'Créditos disciplina']

transformar curso em binário
computação
ciência da computação
engenharia da computação
mecatrônica
Engenharia de Controle e Automação
ENGENHARIA DE REDES DE COMUNICAÇÃO

In [55]:
def separa_dados(matriz):
    data = []
    for y in range(0, len(matriz)):
        data.append([])
        for x in range(16):
            data[y].append(0)
            if x < 14:
                data[y][x] = matriz[y][x]
            if x == 14:
                data[y][x] = matriz[y][16]
            if x == 15:
                data[y][x] = matriz[y][17]
    return data

lista = separa_dados(S2)
print(lista[0])

['ID Aluno', 'Sexo', 'Data de Nascimento', 'UF de Nascimento', 'Cotista', 'Tipo de Escola', 'Raça', 'Curso', 'Opção', 'Período de Ingresso na Unb', 'Período de ingresso na opção', 'Forma de Ingresso na UnB', 'Período de saída da opção', 'Forma de saída da opção', 'Mín. Créd. Formatura', 'Créditos cursados no total']

## 2. INSERINDO NO BANCO DE DADOS

In [56]:
con = MySQLdb.connect(host='localhost',user='root',passwd='',db='estudos_em')
con.select_db('estudos_em')
cursor = conn.cursor()

NameError: name 'MySQLdb' is not defined

In [33]:
cursor.executemany("INSERT INTO alunos (nome, sexo, data_nascimento, uf_nascimento, cotista, tipo_escola, raça, curso, opcao, periodo_ingresso_unb, periodo_ingresso_opcao, forma_ingresso_unb, periodo_saida_opcao, forma_saida_opcao, min_credito_formatura, credito_total_cursado)VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)", lista)

conn.commit()

print('Dados inseridos com sucesso.')

conn.close()

OperationalError: no such table: alunos